<!DOCTYPE html>

{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="container-fluid">
    <form action="#" method="post">
    <p>Email: <input type="email" name="email" placeholder="Enter Email"/></p>
    <p>Password: <input type="password" name="password" placeholder="Enter Password"/></p>
    <p><input type="submit" value="Submit"/></p>
    </form>
</div>

{% endblock %}

