{% extends "base.html" %}

{% block title %}Recipes{% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="container-fluid">
    <form action="#" method="post">
    <p>
        <input type="submit" name="addRecipe" value="Add recipe"/>
    </p>
    <p>
        Search by recipeID: <input type="text" name="recipeIDtb" placeholder="Enter recipe ID"/>
        <input type="submit" name="idSearchButton" value="Search"/>
    </p>
    <p>
        Search by name: <input type="text" name="nameSearch" placeholder="Enter recipe name"/>
        <input type="submit" name="nameButton" value="Search"/>
    </p>
    <p><input type="submit" href="/recipes/search" name="keywordSearch" value="Search by keyword"/></p>
    <p><input type="submit" name="ingredientSearch" value="Search by ingredient"/></p>
    <p><input type="submit" name="nutrientSearch" value="Search by nutrient value"/></p>
    <p>
        Search by rating: <input type="text" name="ratingSearch" placeholder="Enter recipe rating"/>
        <input type="submit" name="aggregatedSearch" value="Search by aggregated rating"/>
    </p>
    <p>
        <strong>Special Searches: </strong>
    </p>
    <p>
        * Get top-10 fastest recipes with the highest aggregated rating <input type="submit" name="special query 1" value="Search"/>
    </p>
        <p>
        * Get all recipes with rating above average <input type="submit" name="special query 2" value="Search"/>
    </p>
        <p>
        * Enter keyword, and get all recipes with each nutrient bellow average
            <input type="text" name="recipeIDtb" placeholder="Enter Keyword"/>
        <input type="submit" name="idSearchButton" value="Search"/>
    </p>
    </form>
</div>

{% endblock %}
