{% extends "base.html" %}

{% block title %}Recipe{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container-fluid">
    <p> Name: {{recipeName}}  Rating: {{aggregatedRating}} Votes: {{reviewCount}} </p>
    <p>
        Keywords:
        {% for keyword in keywordsList %}
            {{keyword[0]}},
        {% endfor %}
    </p>
    <p> Description: {{recipeDescription}} </p>
    <p>
        Ingredients:
        {% for ingredient in ingredientsList %}
            {{ingredient[0]}},
        {% endfor %}
    </p>
    <p> Instructions: {{recipeInstructions}} </p>
    <p> Nutrients: </p>
    <p>
            Calories: {{calories}}
            Fat Content: {{fat}}
            Saturated Fat Content: {{saturatedFat}}
            Cholesterol Content: {{cholesterol}}
        </p>
        <p>
            Sodium Content: {{sodium}}
            Carbohydrate Content: {{carbohydrate}}
            Fiber Content: {{fiber}}
        </p>
        <p>
            Sugar Content: {{sugar}}
            Protein Content: {{protein}}
        </p>
    <p>
        Preping Time: {{recipePrep}}
        Cook Time: {{recipeCook}}
        Total Time: {{recipeTotal}}
    </p>
    <form action="#" method="post">
    <p><input type="submit" name="updateButton" value="Update"/> <input type="submit" name="deleteButton" value="Delete"/></p>
    </form>
</div>

{% endblock %}