{% extends "base.html" %}

{% block title %}Recipes{% endblock %}
{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

<div class="container-fluid">
    <form action="#" method="post">
    <p>
        <input type="submit" name="addRecipe" value="Add recipe"/>
    </p>
    <p>
        Search by recipeID: <input type="text" name="recipeIDtb" placeholder="Enter recipe ID"/>
        <input type="submit" name="idSearchButton" value="Search"/>
    </p>
    <p>
        Search by name: <input type="text" name="nameSearch" placeholder="Enter recipe name"/>
        <input type="submit" name="nameButton" value="Search"/>
    </p>
    <p>
        Search by keyword: <input type="text" name="keywordTb" placeholder="Enter keyword"/>
        <input type="submit" name="keywordSearch" value="Search"/>
    </p>
    <p>
        Search by servings: <input type="number" name="servingsTb" placeholder="Enter number of servings"/>
        <input type="submit" name="servingsSearch" value="Search"/>
    </p>
    <p>
        Search by nutrient: <input type="number" name="nutrientTb" placeholder="Enter number of nutrient"/>
        <input type="submit" name="searchCalories" value="Calories"/>
        <input type="submit" name="searchFat" value="Fat"/>
        <input type="submit" name="searchSaturatedFat" value="SaturatedFat"/>
        <input type="submit" name="searchCholesterol" value="Cholesterol"/>
        <input type="submit" name="searchSodium" value="Sodium"/>
        <input type="submit" name="searchCarbohydrate" value="Carbohydrate"/>
        <input type="submit" name="searchFiber" value="Fiber"/>
        <input type="submit" name="searchSugar" value="Sugar"/>
        <input type="submit" name="searchProtein" value="Protein"/>
    </p>
    <p>
        Search by rating: <input type="text" name="ratingSearch" placeholder="Enter recipe rating"/>
        <input type="submit" name="aggregatedSearch" value="Search by aggregated rating"/>
    </p>
    <p>
        <strong>Special Searches: </strong>
    </p>
    <p>
        * Get top-10 fastest recipes with the highest aggregated rating <input type="submit" name="specialQuery1" value="Search"/>
    </p>
    <p>
        * Get all recipes with rating above average <input type="submit" name="specialQuery2" value="Search"/>
    </p>
        <p>
            * Enter keyword, and get all recipes with each nutrient bellow average
            <input type="text" name="keywordTextBoxSpecial" placeholder="Enter keyword"/>
            <input type="submit" name="keywordButtonSpecial" value="Search"/>
        </p>
    </form>
</div>

{% endblock %}